*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right bottom,#1e0027, #000c27,#1e0027);
    min-height: 100vh;
color: #fff;
}

input:focus{
    outline: none;
}

.form-outer{
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff40;
    padding:20px 40px;
    /* border: 1px solid #dbdbdb; */
    border-radius: 5px;
}

.form-outer>h1{
    margin-bottom: 20px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0;
    margin-bottom: 10px;
}

.inputName{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.15em;
    color: #fff;
}

input::placeholder{
    color:#bcbcbc;
    font-size: 0.9em;
}

.button-div{
    display: flex;
    width: 100%;
}

.save-button{
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    border: none;
    margin-top: 5px;
    /* font-weight: 600; */
    color: #fff;
    border-radius: 4px;
    background-color: #0095f6;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0 5px;
}

.result-outer{
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    background-color: transparent;
    padding: 20px;
    
}

.searchbar{
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

table{
    width: 100%;
    margin: 10px 0;
    background-color: #ffffff40;
}

th,td{
    text-align: center;
    padding: 5px;
}

th{
    height: 50px;
    background-color: #00000047;
    color:#fff
}

td{
    background-color: transparent;
    color: #fff;
}

.sort-button{
    cursor: pointer;
    position: relative;
}
.sort-button>svg{
    position: absolute;
    right: 20px;
}

.rotate{
    rotate: 180deg;
}


.delete-button{
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1em;
}
.delete-button:hover {
    color: #ff0000;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95vw;
    margin: auto;
    position: sticky;
    bottom: 0;
}
footer .line{
    height: 1px;
    background-color: #fff;
    flex: 1;
    margin: 0 10px;
}

::-webkit-scrollbar {
    width: 1px;
  }

@media screen and (max-width:600px) {
    body{
        font-size: 12px;
    }
    .form-outer,.result-outer{
        width: 90%;
    }
}